\# Compiled
*.elc
elpy

# Packaging
.cask

# session
session.*


network-security.data

/.mc-lists.el
ido.last
url/

# emacs meta
/#*.*
*#.*
auto-save-list

# projectile
projectile.*
projectile-*

# folders
eshell
semanticdb
elpa
transient
org-clock-save.el
